#opened_article
{
	width: 900px;
	max-height: 300px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;

	padding: 20px;

	border-top: 2px solid #CFD3D4;

	color: #32454C;
}
#opened_article_name
{
	color: #004E8B;
	margin-top: 0px;
	margin-bottom: 0px;
}
#opened_article_text
{

}
#opened_article_text p
{
	text-indent: 20px;
}
.information_about_opened_article
{
	height: 25px;
	width: 760px;

	margin-top: 20px;
}
.date_of_opened_article
{
	font-size: 13px;
	color: #CFD3D4;

	width: 150px;

	float: left;
}
#back_to_news
{
	width: 120px;
	height: 25px;

	font-size: 15px;

	padding: 1px;
	float: left;

	left: 590px;
}