.header_of_list
{
	margin: 70px auto 0px auto;
}

.list_name
{
	font-size: 20px;

	text-align: center;
	font-weight: bold;

	margin: 50px auto 10px auto;
}

#regional_olympiad_table
{	
}
#regional_olympiad_table tr
{	

}